/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 50%;
  background-color: rgb(0, 135, 225);
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
}
.btn1:hover{
  background: white;
  border: 1px solid;
  color: black;
}
.btn{
  border: none;
  outline: none;
  background-color: rgb(0, 135, 100) !important;
  color: white !important;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
}
.btn:hover{
  background: white !important;
  border: 1px solid !important;
  color: black !important;
}

